Repository carbon-design-system/carbon-addons-iot-react, pull requests merged in 2020-03, with the labels that each got.

#1038 Migrate TileCatalog to scss
  src/components/TileCatalog/TileCatalog.jsx
  src/components/TileCatalog/TileCatalog.test.jsx
  src/components/TileCatalog/__snapshots__/TileCatalog.story.storyshot
  src/components/TileCatalog/_tile-catalog.scss
  src/styles.scss
Labels: status: one more review 👀

#1020 fix(breadcrumb): disable hasOverflow functionality when ResizeObserver not supported
  src/components/Breadcrumb/Breadcrumb.jsx
  src/components/Breadcrumb/Breadcrumb.story.jsx
  src/components/Breadcrumb/Breadcrumb.test.jsx
  src/components/Breadcrumb/__snapshots__/Breadcrumb.story.storyshot
  src/utils/componentUtilityFunctions.js
Labels: status: one more review 👀

#1041 fix(valuecard): data state tooltip opens behind other cards
  src/components/Dashboard/Dashboard.story.jsx
  src/components/Dashboard/__snapshots__/Dashboard.story.storyshot
  src/components/ValueCard/DataStateRenderer.jsx
  src/components/ValueCard/__snapshots__/ValueCard.story.storyshot
Labels: status: ready for review 👀

#1026 feat(timepicker): add spinner support for TimePicker
  src/components/TimePickerSpinner/TimePickerSpinner.jsx
  src/components/TimePickerSpinner/TimePickerSpinner.story.jsx
  src/components/TimePickerSpinner/TimePickerSpinner.test.jsx
  src/components/TimePickerSpinner/_time-picker-spinner.scss
  src/index.js
  src/styles.scss
  src/utils/__tests__/__snapshots__/publicAPI.test.js.snap
Labels: status: visual review 🔍

#1044 chore(tile-group): migrate tile-group to scss
  src/components/TileCatalog/TileGroup.jsx
  src/components/TileCatalog/__snapshots__/TileCatalog.story.storyshot
  src/components/TileCatalog/_tile-group.scss
  src/globals/_vars.scss
  src/styles.scss
Labels: status: one more review 👀
