Repository carbon-design-system/carbon-addons-iot-react, pull requests merged in 2020-04, with the labels that each got.

#1053 [TableCard] - columns render in correct order regardless or quantity
  src/components/TableCard/TableCard.jsx
  src/components/TableCard/TableCard.test.jsx
Labels: status: one more review 👀

#1056 chore(catalog-content): migrate to scss
  src/components/TileCatalog/CatalogContent.jsx
  src/components/TileCatalog/__snapshots__/TileCatalog.story.storyshot
  src/components/TileCatalog/_catalog-content.scss
  src/globals/_vars.scss
  src/styles.scss
Labels: status: one more review 👀

#1035 chore(storybook): update to 5.3.17, remove uneeded workaround
  jest.config.js
  package.json
  yarn.lock
Labels: status: one more review 👀

#1045 [treeshaking]: fix treeshaking and add esm and umd versions
  .eslintignore
  .gitignore
  .storybook/main.js
  README.MD
  babel.config.js
  jest.config.js
  package.json
  rollup.config.js
  src/components/Accordion/index.js
  src/components/AddCard/AddCard.jsx
  src/components/Button/Button.jsx
  src/components/Card/Card.jsx
  src/components/Card/CardRangePicker.jsx
  src/components/Card/__snapshots__/Card.story.storyshot
  src/components/Card/_card.scss
  src/components/ComposedStructuredList/ComposedStructuredList.jsx
  src/components/Dashboard/Dashboard.jsx
  src/components/Dashboard/__snapshots__/Dashboard.story.storyshot
  src/components/Dashboard/__snapshots__/DashboardGrid.story.storyshot
  src/components/Dashboard/_dashboard.scss
  src/components/Header/Header.jsx
  src/components/Header/HeaderAction/HeaderAction.jsx
  src/components/Header/HeaderAction/HeaderActionMenu.jsx
  src/components/Header/HeaderAction/HeaderActionPanel.jsx
  src/components/Header/HeaderActionGroup.jsx
  src/components/Hero/Hero.jsx
  src/components/ImageCard/ImageCard.jsx
  src/components/ImageCard/__snapshots__/ImageCard.story.storyshot
  src/components/ResourceList/ResourceList.story.jsx
  src/components/SideNav/SideNav.jsx
  src/components/SimplePagination/SimplePagination.jsx
  src/components/Table/EmptyTable/EmptyTable.jsx
  src/components/Table/TableBody/RowActionsCell/RowActionsError.jsx
  src/components/Table/TableDetailWizard/TableDetailWizardHeader/TableDetailWizardHeader.jsx
  src/components/Table/TableHead/ColumnHeaderSelect/ColumnHeaderSelect.jsx
  src/components/Table/TableHead/FilterHeaderRow/FilterHeaderRow.jsx
  src/components/TableCard/TableCard.jsx
  src/components/TableCard/__snapshots__/TableCard.story.storyshot
  src/components/TileCatalog/TileCatalog.jsx
  src/components/TileGallery/StatefulTileGallery.jsx
  src/components/TimeSeriesCard/TimeSeriesCard.jsx
  src/components/TimeSeriesCard/__snapshots__/TimeSeriesCard.story.storyshot
  src/components/ValueCard/__snapshots__/ValueCard.story.storyshot
  src/globals/_charts.scss
  src/index.js
  src/utils/__tests__/__snapshots__/publicAPI.test.js.snap
  src/utils/componentUtilityFunctions.js
  yarn.lock
Labels: status: one more review 👀

#1076 feat(list): added loading skeleton state
  src/components/List/HierarchyList/HierarchyList.jsx
  src/components/List/HierarchyList/HierarchyList.story.jsx
  src/components/List/List.jsx
  src/components/List/List.story.jsx
  src/components/List/ListHeader/ListHeader.jsx
  src/components/List/SimpleList/SimpleList.jsx
  src/components/List/SimpleList/SimpleList.story.jsx
  src/components/List/_list.scss
  src/utils/__tests__/__snapshots__/publicAPI.test.js.snap
Labels: status: one more review 👀, status: ready for review 👀

#1070 fix(deps): improve d3 peer dep version range and documentation
  README.MD
  package.json
Labels: status: one more review 👀

#1071 docs(examples): add codesandbox source to repo, update bug template
  .eslintignore
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request-or-enhancement.md
  .github/ISSUE_TEMPLATE/new-component-proposal.md
  .github/ISSUE_TEMPLATE/question.md
  .github/SUPPORT.MD
  .prettierignore
  examples/codesandbox/.gitignore
  examples/codesandbox/package.json
  examples/codesandbox/public/index.html
  examples/codesandbox/src/index.js
Labels: status: one more review 👀

#1100 feat(project): add code of conduct, netlify badge
  .github/CODE_OF_CONDUCT.md
  .storybook/Welcome.story.jsx
  .storybook/__snapshots__/Welcome.story.storyshot
  .storybook/welcome-story.css
Labels: status: ready for review 👀

#1096 157 iconswitch
  src/components/ContentSwitcher/ContentSwitcher.story.jsx
  src/components/ContentSwitcher/__snapshots__/ContentSwitcher.story.storyshot
  src/components/Header/HeaderAction/HeaderAction.jsx
  src/components/IconSwitch/IconSwitch.jsx
  src/components/IconSwitch/IconSwitch.story.jsx
  src/components/IconSwitch/IconSwitch.test.jsx
  src/components/IconSwitch/__snapshots__/IconSwitch.story.storyshot
  src/components/IconSwitch/_icon-switch.scss
  src/components/ValueCard/ValueCard.jsx
  src/index.js
  src/styles.scss
  src/utils/__tests__/__snapshots__/publicAPI.test.js.snap
  yarn.lock
Labels: status: one more review 👀

#1115 fix(readme): update d3 install instructions
  README.MD
Labels: status: one more review 👀

#1099 Add dynamic card variables prop
  src/components/Accordion/__snapshots__/AccordionItem.story.storyshot
  src/components/TableCard/TableCard.jsx
  src/components/TableCard/TableCard.story.jsx
  src/components/TableCard/__snapshots__/TableCard.story.storyshot
  src/components/TimeSeriesCard/TimeSeriesCard.jsx
  src/components/TimeSeriesCard/TimeSeriesCard.story.jsx
  src/components/TimeSeriesCard/__snapshots__/TimeSeriesCard.story.storyshot
  src/components/ValueCard/ValueCard.jsx
  src/components/ValueCard/ValueCard.story.jsx
  src/components/ValueCard/__snapshots__/ValueCard.story.storyshot
  src/constants/CardPropTypes.js
  src/utils/__tests__/__snapshots__/publicAPI.test.js.snap
  src/utils/__tests__/cardUtilityFunctions.test.js
  src/utils/cardUtilityFunctions.js
Labels: status: one more review 👀
